# MinIO Server Configuration (Root Account)
MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me-minio-password

# Application S3 Credentials & Endpoint
ENDPOINT_URL=http://localhost:9000
AWS_ACCESS_KEY_ID=change-me
AWS_SECRET_ACCESS_KEY=change-me